{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="worked-account w-100 d-flex justify-content-center pt-4 hover-sport">
    <div class="offset-md-1 col-md-6" >
    <h1>{% trans "Change Password" %}</h1>

    <a class="button" style='margin-top:-37px;'
    href="{% url 'user_profile' %}">{% trans "< Назад на профиль" %}</a>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change login pt-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class='btn-mysport mt-4 mb-3'>{% trans "Change Password" %}</button>
        <a class='ms-4' href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>
</div>
{% endblock %}