$primary-color: #ff592a;
$primary-color-active: #f4340f;

body {
	background: #f7f7f7;
}
#myCarouselProgram {
    .carousel {
        margin: 30px auto 60px;
        padding: 0 80px;
    }
    .carousel .carousel-item {
        text-align: center;
        overflow: hidden;
    }
    .carousel .carousel-item h4 {
        font-family: "Varela Round", sans-serif;
    }
    .carousel .carousel-item img {
        max-width: 100%;
        display: inline-block;
    }
    .carousel .carousel-item .btn {
        border-radius: 0;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid $primary-color;
        color: $primary-color;
        background: #f8f8f8;
        padding: 6px 15px;
        margin-top: 5px;
    }
    .carousel .carousel-item .btn:hover {
        background: $primary-color;
        border: 1px solid $primary-color;
        color: #f8f8f8;
    }
    .carousel .carousel-item .btn i {
        font-size: 14px;
        font-weight: bold;
        margin-left: 5px;
    }
    .carousel .thumb-wrapper {
        margin: 5px;
        text-align: left;
        background: #fff;
        box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .carousel .thumb-content {
        padding: 15px;
        font-size: 13px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        height: 44px;
        width: 44px;
        background: none;
        margin: auto 0;
        border-radius: 50%;
        border: 3px solid rgba(0, 0, 0, 0.8);
    }
    .carousel-control-prev i,
    .carousel-control-next i {
        font-size: 36px;
        position: absolute;
        top: 50%;
        display: inline-block;
        margin: -19px 0 0 0;
        z-index: 5;
        left: 0;
        right: 0;
        color: rgba(0, 0, 0, 0.8);
        text-shadow: none;
        font-weight: bold;
    }
    .carousel-control-prev i {
        margin-left: -3px;
    }
    .carousel-control-next i {
        margin-right: -3px;
    }
    .carousel-indicators {
        bottom: -50px;
    }
    .carousel-indicators li,
    .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 4px;
        border: none;
    }
    .carousel-indicators li {
        background: #ababab;
    }
    .carousel-indicators li.active {
        background: #555;
    }
}
.section-prog{
    // background-color: #f0f0f0;
    // background-image: url('../img/shutterstock_384910480.original.jpg');
    // opacity: 0.5;
}
.wrap-main-content{
    max-width: 1024px !important;
    min-width: 440px !important;
    box-shadow:
    0 0px 2px rgba(0, 0, 0, 0.3), -13px 0 20px -23px rgba(0, 0, 0, 0.8), 13px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect-sport{
    img{
        height:100px;
        width:100px;
      }
      
      .card{
        transition:0.5s;
        border: 1px solid #fcb29e;
        cursor:pointer;
        // width: 250px;
        // height: 250px;
      }
      .card-title{  
        font-size:1em;
        transition:1s;
        cursor:pointer;
        // color: $primary-color;
      }
      .card-title i{  
        font-size:15px;
        transition:1s;
        cursor:pointer;
        color:#ffa710
      }
      .card-title i:hover{
        transform: scale(1.25) rotate(100deg); 
        color:#18d4ca;
        
      }
      .card:hover{
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
      }
      .card-text{
        height:80px;  
      }
      
      .card::before, .card::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform .3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: '';
        pointer-events: none;
      }
      .card::before {
        transform-origin: left top;
      }
      .card::after {
        transform-origin: right bottom;
      }
      .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
        transform: scale3d(1, 1, 1);
      }
}
.testimonial-block{
        /* Carousel */

    #quote-carousel {
        padding: 0 10px 30px 10px;
        margin-top: 30px;
        /* Control buttons  */
        /* Previous button  */
        /* Next button  */
        /* Changes the position of the indicators */
        /* Changes the color of the indicators */
        img{
            top: 0;
            left: -30px;
        }
    }
    #quote-carousel .carousel-control {
        background: none;
        color: #CACACA;
        font-size: 2.3em;
        text-shadow: none;
        margin-top: 30px;
    }
    #quote-carousel .carousel-control.left {
        color: #000;
    }
    #quote-carousel .carousel-control.right {
        color: #000;
    }
    #quote-carousel .carousel-indicators {
        top: auto;
        bottom: 0px;
    }
    #quote-carousel .carousel-indicators li {
        width: 50px;
        height: 50px;
        margin: 5px;
        cursor: pointer;
        border: 4px solid #CCC;
        border-radius: 50px;
        opacity: 0.4;
        overflow: hidden;
        transition: all 0.4s;
    }
    #quote-carousel .carousel-indicators .active {
        background: $primary-color-active;
        width: 128px;
        height: 128px;
        border-radius: 100px;
        border-color: $primary-color;
        opacity: 1;
        overflow: hidden;
    }
    .carousel-inner {
        min-height: 300px;
    }
    .item blockquote {
        border-left: none;
        margin: 0;
    }
    .item blockquote p:before {
        content: "\f10d";
        font-family: 'Fontawesome';
        margin-right: 10px;
    }
}
.page-program{
    &-mainimg{
        max-height: 500px;
        max-width: 100%;
    }
}
.header-menu{
    .item-active:hover, .item-active:active{
        color: white;
    }
    .item-active{
        color: white;
    }
    .linkactive-line{
        position: relative;
    }
    .linkactive-hover{
        content: '';
        height: 3px;
        width: 0;
        display: block;
        background-color: $primary-color;
        position: absolute;
        bottom: 6px;
        transition: all ease 300ms;
    }
    .item-active:hover .linkactive-hover{
        width: 30px;
    }
}
.page-list-sport{
    .btn {
        border-radius: 0;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid $primary-color;
        color: $primary-color;
        background: #f8f8f8;
        padding: 8px 16px;
        margin-top: 5px;
    }
     .btn:hover {
        background: $primary-color;
        border: 1px solid $primary-color;
        color: #f8f8f8;
    }
    .card-block{
        transition:0.3s; 
    }
    .card-block:hover{
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    }
}
.breadcrumb-sport{
    a {
        color: $primary-color;
    }
    a:hover {
        color: $primary-color-active;
    }
}
.form-contact{
    p {
        display: flex;
        flex-direction: column;

        input, textarea{
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: .100rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        input:focus, input:hover{
            border: 1px solid #ff9b87;
            outline: none;
            box-shadow: 0 0 0 .25rem rgba(253, 161, 55, 0.25);
        }
        textarea:focus, textarea:hover{
            border: 1px solid #ff9b87;
            outline: none;
            box-shadow: 0 0 0 .25rem rgba(253, 161, 55, 0.25);
        }
    }
    

    .btn-contact {
        display: flex;
        justify-content: end;
        button{
            border-radius: 1px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            border: 1px solid $primary-color;
            color: $primary-color;
            background: #f8f8f8;
            padding: 12px 20px;
            margin-top: 5px;
            transition: all ease 300ms;
        }
        button:hover{
            border: 1px solid $primary-color;
            color: #f8f8f8;
            background: $primary-color;
        }
    }
}
.btn-mysport {
    &{
        border-radius: 1px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid $primary-color;
        color: $primary-color;
        background: #f8f8f8;
        padding: 12px 20px;
        margin-top: 5px;
        transition: all ease 300ms;
    }
    &:hover, &:focus, &:active {
        border: 1px solid $primary-color;
            color: #f8f8f8;
            background: $primary-color;
    }
}

.search-input-site{
    border-radius: 2px;
    &:hover, &:focus, &:active {
        border: 1px solid #ff9b87;
        outline: none;
        box-shadow: 0 0 0 .25rem rgba(253, 161, 55, 0.25);
    }
}
.btn-comment-send{
    button{
        border-radius: 2px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid $primary-color;
        color: $primary-color;
        background: #f8f8f8;
        padding: 12px 20px;
        margin-top: 5px;
        transition: all ease 300ms;
    }
    button:hover{
        border: 1px solid $primary-color;
        color: #f8f8f8;
        background: $primary-color;
    }
}
.field-comment-form{
    textarea{
        border-radius: 2px;
        &:hover, &:focus, &:active {
            border: 1px solid #ff9b87;
            outline: none;
            box-shadow: 0 0 0 .25rem rgba(253, 161, 55, 0.25);
        }
    }
}
.comment-list{
    .media{
        border-top: 1px solid rgba(199, 199, 199, 0.267);
        padding-top: 20px;
        display: flex;

        .permalink{
            visibility: hidden;
        }

        .comment{
            padding-bottom: 20px;
            padding-left: 15px;

            .content{
                padding: 10px;

            }

            a{
                color: $primary-color;
            }
            a:hover{
                color:$primary-color-active;
            }
        }
    }
    .badge{
        background-color: $primary-color;
    }
    
}
.comment-confirm{
    a.btn, input.btn, .card{
        border-radius: 2px;
    }
}
.comment-form, .comment-list{
    .name_email input{
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .100rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        &:hover, &:active, &:focus{
            border: 1px solid #ff9b87;
            outline: none;
            box-shadow: 0 0 0 .25rem rgba(253, 161, 55, 0.25);
        }
    }
}
.login{
    input#id_password, input#id_login, 
    input#id_username, input#id_email, input#id_password1, input#id_password2,
    input#id_oldpassword, input#id_first_name, input#id_last_name ,
    input#id_photo {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .100rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    input:focus, input:hover{
        border: 1px solid #ff9b87;
        outline: none;
        box-shadow: 0 0 0 .25rem rgba(253, 161, 55, 0.25);
    }

    a{
        color: $primary-color;
    }
    a:hover{
        color:$primary-color-active;
    }
}

.hover-sport{
    a{
        color: $primary-color;
    }
    a:hover, a:active, a:focus{
        color:$primary-color-active;
    }
}
.dropdown-menu-sport{
    .dropdown-item:active {
        background-color: $primary-color;
      }
}
.sport-footer{
    &-link{
        a:hover, a:active, a:focus{
        color:$primary-color !important;
        }
    }
    
}
@keyframes beatheart {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}
.navbar-brand{
    img:hover{
        animation: beatheart 300ms infinite ease-in-out;
    }
}
.footer-link-social{
    li{
        transition: all 300ms;
    }
    li:hover{
        transform: translateY(-5px);
    }
}
.btn-comment-dlike{
    background-color: $primary-color;
    border: 1px solid $primary-color;
    &:hover, &:active, &:focus{
        background-color: $primary-color-active;
        border: 1px solid $primary-color-active;
    }
}
.responsive-object {
    position: relative;
    
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
}